
*simv
*.daidir
csrc
*.key
*.vdb
vc_hdrs.h
debug_bin

output/
output/*
*.out
*.wb
*.ppln
*.elf
*.dump
*.dump_*
*.mem
*.log

verdi*
novas*
*fsdb*

synth/*.vg
synth/*.rep
synth/*.ddc
synth/*.chk
synth/*.log
synth/*.syn
synth/*.out
synth/*.db
synth/*.svf
synth/*.mr
synth/*.pvl
synth/*.res
synth/*_svsim.sv

urgReport/
